<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>Edit Contact</title>
</head>
<body style="margin: 30px 10px 30px 10px;">
    <h1 style="text-align: center; margin-bottom: 30px;">Edit Contact</h1>
    {% block body %}
    <div class="ui segment">
        <form class="ui form" action="/edit/{{contacts.id}}" method="POST">
            <div class="field">
                <div class="field">
                    <label for="name">Name:</label>
                    <input type="text" name="name" placeholder="Enter a name..." value="{{contacts.name}}">
                </div>
                
                <div class="fields">
                    <div class="nine wide field">
                        <label for="number">Number:</label>
                        <input type="text" name="number" placeholder="+1 (XXX)-XXX-XXXX" value="{{contacts.number}}">
                    </div>
                    
                    <div class="three wide field">
                        <label for="type_of_name">Type:</label>
                        <select name="type_of_number" id="ton">
                            <option type="text" value="Home">Home</option>
                            <option type="text" value="Mobile">Mobile</option>
                            <option type="text" value="Business">Business</option>
                            <option type="text" value="Other">Other</option>
                        </select>
                    </div>
                </div>
    
                <div class="field">
                    <label for="email">Email:</label>
                    <input type="text" name="email" placeholder="Enter an email..." value="{{contacts.email}}">
                </div>
    
                <div class="field">
                    <label for="notes">Notes:</label>
                    <textarea type="text" name="notes" placeholder="Leave a note...">{{contacts.notes}}</textarea>
                </div>
    
                <div class="field">
                    <button class="ui blue button" tabindex="0" type="submit">Edit Contact</button>
                    <a class="ui black button" href="/contacts">Back</a>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
</body>
</html>